<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../../static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<th:block th:replace="layout/header :: headerFragment"></th:block>

<div class="container">

    <div>
        <h1 class="display-5" th:text="${post.title}">Title</h1>
        <p class="lead">
            by <em th:text="${post.username}">author</em>
        </p>
        <p class="text-end">
            생성일 : <small th:text="${#dates.format(post.timeInform.createdTime, 'yyyy/MM/dd HH:mm')}">생성일</small>
             |
            수정일 : <small th:text="${#dates.format(post.timeInform.updatedTime, 'yyyy/MM/dd HH:mm')}">수정일</small>
        </p>
    </div>

    <div>
        <p class="lead" th:text="${post.content}">
            content
        </p>
    </div>

    <div class="d-flex flex-row justify-content-end">
        <button type="button" class="btn btn-outline-dark"
        th:onclick="|location.href='@{/thread/update-post/{postId}(postId=${post.postId})}'|">수정하기
        </button>

        <button type="button" class="btn btn-outline-danger">삭제하기
        </button>
    </div>
</div>


</body>
</html>