<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../../static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<th:block th:replace="layout/header :: headerFragment"></th:block>

<div class="container">

    <h3>게시물 수정</h3>

    <form th:action="@{/thread/post/update-post}" th:object="${updatePostForm}" method="post">

        <input type="hidden" name="postId" th:value="*{postId}">

        <textarea class="form-control" name="title" rows="1"
                th:text="*{title}" th:errorclass="border-danger">제목</textarea>
        <div class="mb-3 text-danger" th:errors="*{title}"></div>

        <textarea class="form-control" name="content" rows="17"
                th:text="*{content}" th:errorclass="border-danger">내용</textarea>
        <div class="mb-3 text-danger" th:errors="*{content}"></div>

        <div class="d-flex flex-row justify-content-end">
            <button type="submit" class="btn btn-primary mb-3">Update Post</button>
        </div>

    </form>

</div>


</body>
</html>