<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/bootstrap.min.css}"
      href="../../static/css/bootstrap.min.css" rel="stylesheet">
<!--headerFragment 선언-->
<div th:fragment="pagination">
  <div class="d-flex justify-content-center" th:if = "${pagingRange}">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item" th:classappend="${pagingRange.isPrevious} ? 'active' : 'disabled'">
          <a class="page-link" href="#" aria-label="Previous" th:href="@{|?postPage=${pagingRange.currentPageNum-pagingRange.displayNum}|}">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>

        <li class="page-item" th:each = "page : ${pagingRange.pageNumList}" th:classappend = "${page} == ${pagingRange.currentPageNum} ? 'active'">

          <a class="page-link" href="#"
             th:href="@{|?postPage=${page}|}" th:text="${page}">1</a>
        </li>

        <li class="page-item" th:classappend="${pagingRange.isNext} ? 'active' : 'disabled'">
          <a class="page-link" href="#" aria-label="Next" th:href="@{|?postPage=${pagingRange.currentPageNum + pagingRange.displayNum}|}">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

</div>

</html>